#legend {
  display: block;
  position: absolute;
  left: 25px;
  bottom: 20px;
  margin: 0;
  padding: 18px 24px;
  list-style-type: none;
  background-color: rgba(#fff, 0.6);
  border-radius: 4px;
  pointer-events: none;

  li {
    display: block;
    line-height: 18px;
    font-size: 12px;
    h3 {
      display: inline-block;
      margin: 0;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 6px;
    }
    h3, span {
      pointer-events: all;
    }
    &:last-child {
      margin-top: 6px;
    }

    span.legend-icon {
      display: inline-block;
      box-sizing: border-box;
      width: 8px;
      height: 8px;
      margin-right: 4px;

      &.high {
        opacity: 1.0;
      }
      &.mid {
        opacity: 0.55;
      }
      &.low {
        opacity: 0.1;
      }

      &.fill.feature {
        border-style: solid;
        border-width: 1px;
        transform: translateX(-2px) rotate(24deg);
      }

      &.line.feature {
        background-color: transparent;
        border-style: solid;
        border-width: 2px;
        border-top-width: 0;
        border-left-width: 0;
        transform: translateX(-2px) rotate(-20deg);
      }

      &.circle.feature {
        border-radius: 4px;
      }

      &.builtup.feature {
        border-style: solid;
        border-width: 1px;
      }
    }
  }
}
