.embedHeader {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 36px;
  font-size: 16px;

  > div > *:not(:last-child) {
    margin-right: 10px;
  }

  .title {
    margin-right: 20px;
    font-weight: bold;
  }

  .left > button {
    padding: 0;
    background: none;
    color: #4B5A6A;
    font-weight: bold;

    &:hover {
      background: none;
    }

    &:active {
      background: none;
      box-shadow: none;
    }
  }
}
